.random-bird-block {
    width: 100%;
    background: rgba(70,68,68,0.274);
    user-select: none;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
}

.bird-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.audio-block {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bird-title {
    border-bottom: 1px solid rgba(184, 181, 181, 0.452);
    /* padding: 25px 0 10px 0; */
    font-size: 2em;
    line-height: 1px;
}

.answered-bird-img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

@media (max-width: 1180px) {
    .audio-block {
        width: 70%;
    }

    .bird-img-block {
        width: 30%;
    }

    .answered-bird-img {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 768px) {
    .bird-title {
        font-size: 2em;
    }

    .answered-bird-img {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 568px) {
    .bird-title {
        font-size: 1.2em;
    }

    .random-bird-block {
        box-sizing: border-box;
        padding: 10px;
    }

    .answered-bird-img {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 468px) {
    .answered-bird-img {
        height: 70px;
        width: 70px;
    }
}